.logo{
    width: 75px;
    cursor: pointer;
    border-radius: 50%;
}
.icon{
    width: 40px;
    margin-right: 10px;
    cursor: pointer;
}
 
.menu a{
    color: #6c5ce7;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 550;
    cursor: pointer;
    
    
}
.menu a:hover{
    color: #888 !important;
}
.menu a::after{
    content: '';
    display: block;
    background-color: #fbc531;
    height: 3px;
    width: 0%;
    transition: 0.6s;
    margin: auto;
   
    
}
.menu a:hover::after{
    width: 100%;
    
}
.menu-bar{
    color: #2acd35 !important;
}
.btn1{
    background-color: #2acd35 !important; 
    color: #f2f2f2 !important;

}

.btn1:hover{
    background-color: #888 !important;
}
.btn2:hover{
    background-color: #2acd35 !important;
    outline:none;
}
.band{
   font-size: 22px;
   color: #2acd35;
   font-family: 'Poppins', sans-serif;
}
.coach{
    font-family: 'Dancing Script', cursive;
    font-size: 24px;
}