.banner-img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    background: linear-gradient(to top,#151515 0%,rgba(21,21,21,0)70% );
    border-radius: 12px;
    background-size: cover;
    background-position: center;

}
.banner-text{
    font-size: 1.7rem;
    color: #2acd35;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.about-text{
    color: #444;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
/* .btn-banner{
    background-color: #6ab04c !important;
} */

.all-text{
    font-size: 1.7rem;
    color: #888;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}